<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
        <link href="/admin/css/metisMenu.min.css" rel="stylesheet">
        <link href="/admin/css/startmin.css" rel="stylesheet">
        <link href="/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="//cdn.jsdelivr.net/ckeditor/4.0.1/ckeditor.js"></script>
    </head>
    <body>

        <div id="wrapper">

            <div th:replace="admin/common/header::header"></div>

            <div id="page-wrapper">
                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    
                                    <div class="col-lg-9">
                                        <form role="form" th:action="@{/changePassword}" method="post" th:object="${changePassword}" novalidate="novalidate">
                                           
                                            <div class="form-group">
                                                <label>Mật khẩu cũ</label>
                                                <input class="form-control" type="password" placeholder="Enter text" th:field="*{passwordOld}">
                                            </div>
                                            <div class="form-group">
                                                <label>Mật khẩu mới</label>
                                                <input class="form-control" type="password" placeholder="Enter text" th:field="*{passwordNew}">
                                            </div>
                                            <div class="form-group">
                                                <label>Nhập lại mật khẩu</label>
                                                <input class="form-control" type="password" placeholder="Enter text" th:field="*{confirmPassword}" >
                                            </div>
                                            <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
                                            <p style="color: red" th:text="${erro}"/>
                                        </form>
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/metisMenu.min.js"></script>
        <script src="/admin/js/startmin.js"></script>
    </body>
</html>

